 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 988px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1290px;
  margin: 59px -75px 0;
}

.u-section-1 .u-image-1 {
  min-height: 718px;
  background-image: url("images/HomeHeader.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 763px;
  min-height: 258px;
  height: auto;
  margin: 125px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  margin: 0 3px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 231px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-1 {
  height: 83px;
  width: 83px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-2 {
  height: 83px;
  width: 83px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-3 {
  height: 83px;
  width: 83px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-4 {
  height: 83px;
  width: 83px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-text-7 {
  margin: 129px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 8.97%;
    min-height: 1138px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 189px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1598px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 0%;
    min-height: 1844px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1756px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 621px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 120px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -240px 351px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 11px 95px 60px 630px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 314px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -108px;
    margin-right: 289px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 38px;
    margin-right: 221px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 181px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 158px;
    margin-right: 166px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 114px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 292px;
    margin-right: 105px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1066px;
}

.u-section-3 .u-gallery-1 {
  height: 300px;
  grid-gap: 17px 17px;
  margin: 101px 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(246,135,47,1), rgba(246,135,47,1));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(246,135,47,1), rgba(246,135,47,1));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(246,135,47,1), rgba(246,135,47,1));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(246,135,47,1), rgba(246,135,47,1));
  padding: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 19px;
}

.u-section-3 .u-text-2 {
  width: 229px;
  margin: 45px auto 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 41px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  width: 229px;
  margin: 71px auto 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 70px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 229px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  width: 229px;
  margin: 70px auto 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 40px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-4 {
  padding: 29px 30px 27px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 229px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  width: 229px;
  margin: 50px auto 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 40px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1166px;
  }

  .u-section-3 .u-gallery-1 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 207px;
  }

  .u-section-3 .u-text-2 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -231px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 3px;
    width: 175px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-3 .u-text-5 {
    width: 175px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 3px;
    width: 175px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 663px;
  }

  .u-section-3 .u-text-7 {
    width: 175px;
  }

  .u-section-3 .u-text-8 {
    width: 175px;
    margin-top: 57px;
    margin-left: 3px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1528px;
  }

  .u-section-3 .u-gallery-1 {
    height: 792px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 152px;
  }

  .u-section-3 .u-text-2 {
    width: 120px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -381px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3954px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2432px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2746px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1550px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 663px;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 854px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-4 .u-image-1 {
  min-height: 805px;
  background-image: url("images/FullResume3.PNG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 805px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  width: 260px;
  margin: 288px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-4 .u-image-1 {
    min-height: 664px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 664px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-4 .u-image-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-4 .u-image-1 {
    min-height: 764px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-image-1 {
    min-height: 481px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1420px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 155px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1110px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-5 .u-image-1 {
  height: 563px;
  filter: brightness(0.5);
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 144px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 44px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1225px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 915px;
  }

  .u-section-5 .u-image-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 145px;
    margin-left: 435px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -218px;
    margin-left: 316px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 410px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 358px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 352px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 60px;
  }

  .u-section-5 .u-image-1 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 587px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 361px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 263px;
  }
}